@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes drop-and-fade {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-info] {
    animation-name: drop-and-fade;
    animation-duration: 500ms;
}

@keyframes slide-in {
    0% {
        transform: translateX(-225px);
    }

    100% {
        transform: translateX(0);
    }
}

[data-mobile-menu-sidedraw] {
    animation-name: slide-in;
    animation-duration: 150ms;
}
